


body {  
    text-align: center;
}

.body {
    font-family: Arial, Helvetica, sans-serif
}

.a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: thin;
    text-align: center;
   
}

div {
    font-size: 28px;
    width: 27%;
    padding-top: 50px;
    float:left center;

}

h3 p {
    width: 75%;
    float: left;
}


a {
    padding-top: 10px;
    padding-bottom: 30px;
}

